if SHIELD_NIKLASAE_LEFT

config ZMK_KEYBOARD_NAME
    default "niklasae"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_NIKLASAE_LEFT || SHIELD_NIKLASAE_RIGHT

config ZMK_SPLIT
    default y

endif